
    /* Style for the table */
    /* Style for fixed header row */
.table-container thead {
    position: sticky;
    top: 0;
    background-color: #343a40;
    color: white;
}
.table-container tr {
    background-color: #343a40;
    color: white;
}
/* Add CSS for the scrollable table container */
.table-container {
    max-height: 450px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ddd; /* Add a border for visualization */
    margin: 20px auto; /* Adjust margin as needed */
    margin-top: 80px;
    margin-bottom: 80px;
    width: 85%;
    /* margin-left: 200px; */
}
  
/* Adjust the table style if necessary */
    .table {
    width: 100%;
}

/* Add this CSS to your existing <style> section */
header h1 {
    font-family: 'Montserrat', sans-serif; /* Use the custom font you included */
    /* You can also specify fallback fonts in case the custom font doesn't load */
    /* font-family: 'Roboto', Arial, sans-serif; */
    font-size: 70px; /* Change the font size to your desired value */
}


/* Select the .nav-link class and apply the styles */
.nav-link {
    color: white; /* Set the text color to white */
    font-size: 18px; /* Increase the font size to your desired value */
    /* You can also add other styles like text-decoration, if needed */
}

/* Optionally, you can style the links on hover and when they are active */
.nav-link:hover {
    text-decoration: underline; /* Add underline on hover */
}

.nav-link.active {
    /* Add styles for the active link (e.g., when on the current page) */
    font-weight: bold; /* Make it bold, for example */
}





footer {
    padding: 20px;
    margin-top: 100px;
    background-color: #f8f9fa; /* Optional: Add a light background color to the footer for better readability */
}
.button {
    padding: 6px 24px; 
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    color: white;
}
        /* Style for the logout confirmation modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    width:25%;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

    /* Style for the confirmLogoutBtn within the modal */
#confirmLogoutBtn {
    background: #007bff;
    margin-top: 10px; /* Adjust the margin to your preference */
    padding: 10px 20px; /* Adjust the padding to your preference */
    border-radius: 5px; /* Adjust the border-radius to your preference */
    color: white;
    cursor: pointer;
}
